@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
  
:root {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme='light'] {
    --body-color: rgb(234, 224, 202);
    --background-color: rgb(249 243 229);
    --screen-color: #f7efc7;
    --text-color: #121416d8;
    --equals-color: rgb(246 227 136);
    --ac-color: #ffdad6;
    --op-color: rgb(247, 241, 211);
    --button-color: rgb(255 249 236);
    --font-color: black;
    --invert:invert(0%);
}

html[data-theme='dark'] {
    --body-color: rgb(40 40 37);
    --background-color: rgb(48 47 40);
    --screen-color: rgb(71 67 48);
    --text-color: #F7F8F8;
    --equals-color: rgb(180, 160, 20);
    --ac-color: #b38f8b;
    --op-color: rgb(157 149 107);
    --button-color: rgb(65 63 51);
    --font-color: white;
    --invert:invert(100%);
}

html button:hover {
    filter: brightness(85%);
}

svg {
    -webkit-filter: var(--invert);
    filter: var(--invert);
}

body {
    background-color:var(--body-color);
    margin: 0;
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100svh;
    min-height: -webkit-fill-available;
    font-family: "Rubik", sans-serif;
    color: var(--font-color);
    flex-direction: column;
}

#calcBody {
    background-color: var(--background-color);
    padding: 5px;
    margin: 0px 20px;
    border-radius: 16px;
    height: 90svh;
    aspect-ratio: 1/2;
}

#screen {
    height: 20%;
    padding: 20px;
    border-radius: 16px 16px 16px 16px;
    background-color: var(--screen-color);
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    transition: linear 0.3s;
}

#currentNumber {
    font-size: 35px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
}

#pastCalc {
    font-size: 25px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: end;
}

#buttons{
    border-radius: 0px 0px 16px 16px;
    height: 70%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.calcButton{
    border-radius: 32px;
    height: 65px;
    width: 65px;
    margin: 5px;
    flex: 1 0 calc(25% - 10px);
    transition: linear 0.2s;
    background-color: var(--button-color);
    border: 0;
    font-weight: 600;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    color: var(--font-color);
}


#equals{
   background-color: var(--equals-color); 
}

#AC{
    background-color: var(--ac-color);
}

.op{
    background-color: var(--op-color);
    transition: linear 0.2s;
}

footer {
    color: #769887;
}

footer a {
    color: #769887;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: var(--font-color);
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

@media (max-width: 600px) {
    :root {
        touch-action: pan-x pan-y;
      }

    #calcBody {
        height: 90vh;
        width: 90vw;
    }

    footer {
        display: none;
    }
}