@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
  
  body {
    background-color:rgb(234, 224, 202);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    min-height: -webkit-fill-available;
    font-family: "Rubik", sans-serif;
}

#calcBody {
    background-color: rgb(249 243 229);;
    padding: 5px;
    margin: 0px 20px;
    border-radius: 16px;
    height: 90svh;
}

#screen {
    height: 20%;
    padding: 20px;
    border-radius: 16px 16px 16px 16px;
    background-color: #f7efc7;
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    transition: linear 0.3s;
}

#currentNumber {
    font-size: 35px;
}

#pastCalc {
    font-size: 25px;
}

#buttons{
    border-radius: 0px 0px 16px 16px;
    height: 70%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.calcButton{
    border-radius: 32px;
    height: 65px;
    width: 65px;
    margin: 5px;
    flex: 1 0 calc(25% - 10px);
    transition: linear 0.2s;
    background-color: rgb(255 249 236);
    border: 0;
    font-weight: 600;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}

.calcButton:hover {
    background-color: rgb(232 226 212);

}

#equals{
   background-color: rgb(246 227 136); 
}

#equals:hover{
    background-color: rgb(228, 209, 117); 
 }
 
#AC{
    background-color: #ffdad6;
}

#AC:hover{
    background-color: rgb(249, 207, 202);
}

.op{
    background-color: rgb(247, 241, 211);
    transition: linear 0.2s;
}

.op:hover {
    background-color: rgb(243, 230, 172);
}

footer {
    color: #769887;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: black;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

@media (max-width: 600px) {
    #calcBody {
        background-color: rgb(249 243 229);;
        padding: 5px;
        border-radius: 16px;
        height: 90vh;
        width: 90vw;
    }
}